<!DOCTYPE html>
<html lang ='en' dir = 'ltr'>
    <body>
        <div class = 'content'>
            <h1 align='center'>Paris House Price Prediction using Linear Regression</h1>
            <div class="form">
                <form action="/predict" method="post">
                    
                    <input type="number" name="squareMeters" id ='squareMeters' placeholder="squareMeters">
                    <input type="number" name="numPrevOwners" id ='numPrevOwners' placeholder="numPrevOwners">
                    <input type="number" name="numberOfRooms" id ='numberOfRooms' placeholder="numberOfRooms">
                    <input type="number" name="cityPartRange" id ='cityPartRange' placeholder="cityPartRange">
                    <input type="number" name="hasStormProtector" id ='hasStormProtector' placeholder="hasStormProtector">
		    <input type="number" name="floors" id ='floors' placeholder="floors">
                    
                    <input type="submit" value = 'Predict'>
                    
                </form>
            </div>
            
            
            
        </div>
    </body>

