<!DOCTYPE html>
<html lang ='en' dir = 'ltr'>
    <body>
        <div class = 'content'>
            <h1 align='center'>Crab Age Prediction</h1>
            <div class="form">
                <form action="/predict" method="post">
                    
                    <input type="number" name="Shell_Weight" id ='Shell_Weight' placeholder="Shell_Weight">
                    <input type="number" name="Height" id ='Height' placeholder="Height">
                    <input type="number" name="Diameter" id ='Diameter' placeholder="Diameter">
                    <input type="number" name="Length" id ='Length' placeholder="Length">
                    <input type="number" name="Weight" id ='Weight' placeholder="Weight">
		    <input type="number" name="Viscera_Weight" id ='Viscera_Weight' placeholder="Viscera_Weight">
		    <input type="number" name="Shucked_Weight" id ='Shucked_Weight' placeholder="Shucked_Weight">
                    
                    <input type="submit" value = 'Predict'>
                    
                </form>
            </div>
            
            
            
        </div>
    </body>

